Flask
celery
datetime
epam.indigo
filelock
flask-cors
flask-openapi3[swagger,redoc,rapidoc,rapipdf,scalar,elements]
genra>=0.2
gunicorn
jupyterlab
kaleido
lxml
matplotlib
numpy
openpyxl
pandas
paramiko
plotly
pyarrow
pycairo
pymongo
pytz
pyyaml
rdkit
redis
redis-lru==0.1.0
scikit-learn
sentry-sdk[flask]
setuptools>=70.0.0  # for a dependabot high
sqlalchemy
