# External settings

# Where Dockerfile for genra_api service resides. Could be remote git url,
# as shown with example below (review branch used as internal prod.)
# If commented out, default on docker-compose is `.` (i.e., same directory)
# GENRA_API_BUILD_CONTEXT="https://ccte-bitbucket.epa.gov/scm/grx/genra_app.git#review"

# port on host for API
EXT_GENRA_API_PORT=8883

# no longer needed
# EXT_GENRA_API_URL=http://127.0.0.1:${EXT_GENRA_API_PORT}/

# Port on host for UI (HTTP server serving UI HTML etc.).  Only used if
# running UI locally with `--file docker-compose-ui.yml`.
# EXT_GENRA_UI_PORT=8884

# Port for local mongodb.  Only used if running local mongodb with `--file
# docker-compose-mongodb.yml`.
# EXT_GENRA_MONGO_PORT=27017

# Volume for local mongodb data. Can be a path to a local folder, in which case
# it must be absolute (starting with /) or a Docker volume name, in which case
# it must be created with `docker volume <name>`.  Only used if running local
# mongodb with `--file docker-compose-mongodb.yml`.  Do not use `_genra_local_db_vol`.
# GENRA_VOL_MONGODB=genra_mongodb_vol

# username and password for local mongodb - change these
#
# MONGO_INITDB_ROOT_USERNAME=genra
# MONGO_INITDB_ROOT_PASSWORD=genra

# image name isolation
COMPOSE_PROJECT_NAME=${USER}
UID=${UID}

# Service selection

# Always required.
COMPOSE_FILE=docker-compose.yml
# Inclde to run UI locally.
COMPOSE_FILE=${COMPOSE_FILE}:docker-compose-ui.yml
# Include to run with the local folder mounted in the container etc.
COMPOSE_FILE=${COMPOSE_FILE}:docker-compose-local.yml
# Include to run with local mongodb.
# COMPOSE_FILE=${COMPOSE_FILE}:docker-mongodb.yml
# Include to run with a separate celery worker container.
# COMPOSE_FILE=${COMPOSE_FILE}:docker-worker.yml

# Container internal settings

# Python version
PYVER=3.12
# subpath for API endpoints
GENRA_API_PREFIX=/genra-api
# API URL, used for running tests on private docker network
GENRA_API_URL=http://genra_api:5000${GENRA_API_PREFIX}/

# to enable invocation of flask app instance, e.g. flask commands
# This isn't needed by deployments
FLASK_APP=genraweb.genra_flask:app

# host reported by Swagger, can be set to non-local domain to generate API spec.
GENRA_SWAGGER_HOST=localhost:${EXT_GENRA_API_PORT}
# Celery broker url, redis or RabbitMQ etc.
GENRA_CELERY_BROKER=redis://redis:6379/0

# Set this to any non-blank value to run celery in the genra_api container.
# GENRA_CELERY_IN_GENRA=Y
# GenRA's celery use is CPU, not IO bound, so we need to use workers (processes).
GENRA_CELERY_THREADS_PER_WORKER=1
GENRA_CELERY_WORKERS=8

# artifacts to copy into the filesystem
GENRA_ARTIFACT_REPO=
# repo. containing UI, no trailing slash
GENRA_UI_REPO_PATH=../genra-ui

# Green Unicorn control
# NOTE: setting --threads > 1 causes green unicorn to use gthread rather
# than sync workers which may in turn allow it to detect busy vs. dead
# threads, so we should always set --threads > 1.
# NOTE: don't try and use --reload, Redis caching will return old values.
GUNICORN_CMD_ARGS="--bind=0.0.0.0:5000 --workers=6 --threads 4"

# set to 'Y' (case-sensitive) to use new (2021) db structures
GENRA_NEW_TOXREF_DB=Y

# Collection name suffix for writing FP data to DB, blank will write
# to "live" FP collections.
GENRA_FPCOL_SUFFIX=_fp_gen
# When generating "ALL" FP, generate only this many batches, for testing.
# GENRA_MAX_FP_BATCHES=3
# name of collection for pre-calc FP data, change for dev, cutover
GENRA_FP_INFO_COLLECTION=fp_info

# Dev. option, skip expected result tests, just run structural tests
# in tests/test_endpoints, *any* non blank value activates.
# GENRA_TEST_IGNORE_EXPECTED=Y

# Dev. option, force Swagger UI to generate API spec. file.
# GENRA_FORCE_SWAGGER=Y

# Link from neighbors for background info.  Processed with str.format().
# Currently only 'chem_id' available for substitution.
GENRA_DETAILS_LINK="https://comptox.epa.gov/dashboard/chemical/details/{chem_id}"

# uncomment to disable LRU Redis caching of some functions, LRU tests will fail
# GENRA_NO_LRU_CACHE=1

# pick one of: {LOCAL, LOCAL_DEV, DEV, STG, PROD}
GENRA_DEPLOYMENT_TYPE=
# pick one of: {${USER}dev, dev, staging, main}
GENRA_ENV_NAME=${USER}dev
# GenRA coverage param (Y or N)
GENRA_CODE_COVERAGE=

# dev option, defaults to "{request.method}: {request.url}", but e.g.
# GENRA_FLASK_LOG_FMT={request.method}: {request.url} {request.remote_addr} {request.user_agent}
# gives more detail on requests.
GENRA_FLASK_LOG_FMT={request.method}: {request.url}

# Set to any non-empty value to enable Sentry monitoring
# GENRA_SENTRY_USE=1
# Needs to match Sentry server config.
# GENRA_SENTRY_URL=https://19495d5dbe163eba00ff31a9a05b0034832cd36d@ccte-app-monitoring.epa.gov/42

# GenRA database connection environment variables
#
# Variable names will be in the format GENRA_DB_<WHICH>_<FIELD>.
#  - <WHICH> will be a short and sensible reference to a specific
#  (host+database) combination, possibly taking advantage of the use of
#  underscores as described below
#  - <FIELD> will be one of {USE_URI, PORT, HOST, USER, PASS, DB}
#   
# To take advantage of how underscores in <WHICH> gets used in
# `open_mongo_db(...)` in `genra/lib/db_connection.py`, note that:
#  - assuming a call like `open_mongo_db("PB_V1")`;
#  - GENRA_DB_PB_FIELDX will be used if GENRA_DB_PB_V1_FIELDX doesn't exist
#  - GENRA_DB_FIELDX will be used if GENRA_DB_PB_FIELDX doesn't exist
#  - GENRA_DB_FIELDX will be default
#  - if you wish to connect to a docker container on the same network, simply
#  fill in HOST field with container name

# mongo default
GENRA_DB_PORT=27017
GENRA_DB_HOST=
GENRA_DB_USER=
GENRA_DB_PASS=
GENRA_DB_DB=
# NOTE - only URI connection is currently supported, so GENRA_DB_USE_URI
# should be set to anything *except* 0
GENRA_DB_USE_URI=

# GENRA_DB_CONNECT_DB - when you need to connect to one DB (admin)
# then switch to GENRA_DB_DB after connection
# GENRA_DB_KWARGS - provide a "key0=val0&key1=val1" string

# mongo default settings for local db
# GENRA_DB_DB=genra
# GENRA_DB_HOST=genra_mongodb
# GENRA_DB_PASS=${MONGO_INITDB_ROOT_PASSWORD}
# GENRA_DB_PORT=27017
# GENRA_DB_USER=${MONGO_INITDB_ROOT_USERNAME}
# GENRA_DB_USE_URI=
