export GENRA_DEPLOYMENT_TYPE=LOCAL_DEV
export GENRA_DB_DB=genra
export GENRA_DB_CONNECT_DB=genra
export GENRA_DB_HOST=hostname
export GENRA_DB_PASS='xxxxxxxxxxxxxxxx'
export GENRA_DB_PORT=27017
export GENRA_DB_USER=username
export GENRA_DB_CONNECT_DB=admin
export GENRA_DB_USE_URI=1
export GENRA_FP_INFO_COLLECTION=fp_info

export FJ_FP_ID=chm_httr
export FJ_SEL_BY=no_filter
export FJ_BATCH_SIZE=1000
export FJ_COLLECTION=fj_$FJ_FP_ID"_"$FJ_SEL_BY
# One of cosine / euclid / jaccard
# ** WARNING ** only read at metadata control record creation time
# Update that record if you want to change it later:
# db.fj_chm_phch_no_filter.updateMany({metadata:{$exists:1}}, {$set:{mode:"euclid"}})
export FJ_SIM_MODE=euclid

# Default limit of 8 32 core nodes per HESC account, so
# 8 * FJ_PROCS * FJ_BLOCKS_PER_PROC should be close to but not less than the
# number of batches to process everything.  If you submit more than 8 nodes
# worth SLURM will hold the rest, but we need a delay between launching each
# job to reserve batches in the DB, so don't do more than 8 because SLURM will
# launch the remainder all at once.  Well in theory, in practice the jobs won't
# finish at the same time, but no real advantage in not doing the math to get 8
# nodes / jobs to do all the work.
export FJ_PROCS=31
export FJ_BLOCKS_PER_PROC=5

# vim: ft=config
